In [197]:
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
import re

In [198]:
df = pd.read_csv('non_fire.csv')
df

,time,lat,lon,area,lst_day,lst_night,evi,class
0,2018-06-26,33.408854,-117.076050,1.373816e+07,307.487500,289.228750,0.216975,no_fire
1,2018-06-26,36.137575,-118.225236,9.530845e+07,306.894414,284.389730,0.234126,no_fire
2,2018-06-26,41.055741,-121.923551,5.452330e+08,300.717102,291.531937,0.398504,no_fire
3,2018-07-04,37.479687,-120.400798,4.121447e+07,322.606667,293.778333,0.166904,no_fire
4,2018-07-04,35.525000,-118.555102,5.151808e+06,307.930000,291.180000,0.362250,no_fire
...,...,...,...,...,...,...,...,...
151,2019-06-26,40.717500,-121.522054,4.293173e+06,299.716000,282.716000,0.318680,no_fire
152,2019-06-26,38.673192,-123.152378,4.550764e+07,302.043019,287.167547,0.439543,no_fire
153,2019-06-26,40.518056,-121.884754,2.575904e+06,299.873333,286.833333,0.404333,no_fire
154,2019-06-26,36.181548,-119.945033,6.010443e+06,314.180000,291.480000,0.199914,no_fire
155,2019-06-26,39.821875,-121.571776,6.869078e+06,304.582500,289.442500,0.208475,no_fire

In [199]:
def date_to_month(datetime):
    datetime = int(re.search("-\d\d",datetime).group(0))
    return datetime

In [200]:
df['month'] = abs(df.time.apply(date_to_month))

In [201]:
df.month.value_counts()

6     18
7     17
1     17
12    15
9     15
11    13
10    11
8     11
5     11
2     11
3     10
4      7
Name: month, dtype: int64

In [202]:
y = df['class']
x = df.drop(['class','time'], axis=1)

In [203]:
x.shape

(156, 7)

In [204]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [205]:
scaler = StandardScaler()
scaler.fit(train_x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [206]:
train_x = scaler.transform(train_x)
test_x = scaler.transform(test_x)

In [207]:
train_x[:,1].mean()

5.17416119446566e-15

In [208]:
test_x[:,1].mean()

-0.12550594349746527

In [209]:
#MLP Classifier Function
#solver: 'Adam' works better for bigger datasets, 'lbfgs' faster and better for smaller
#regularization parameter: paper did between 0.8 - 4, and compared results
#hiddenlayers: 2 layers with 28 units each
clf = MLPClassifier(solver='lbfgs', alpha=1, max_iter=1000,hidden_layer_sizes=(28,28), random_state=42)
clf.fit(train_x, train_y)

MLPClassifier(activation='relu', alpha=1, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(28, 28), learning_rate='constant',
              learning_rate_init=0.001, max_iter=1000, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=42, shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [210]:
train_preds = clf.predict(train_x)
test_preds = clf.predict(test_x)

In [ ]:
100 * np.

In [211]:
confusion_matrix(test_y,test_preds)

array([[39]], dtype=int64)